body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
}

header {
  padding: 1em;
  background: red;
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
  clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

@import "navbar";
@import "dropdown";
